# App
github "SwiftyBeaver/SwiftyBeaver"
github "onevcat/Kingfisher"
github "lkzhao/Hero"
github "freshOS/then"
github "SVProgressHUD/SVProgressHUD"
github "radex/SwiftyUserDefaults"
github "ykyouhei/SwiftyConfiguration"
github "realm/realm-cocoa"
github "rs/SDWebImage"

#c Batch
github "tid-kijyun/Kanna"
github "crossroadlabs/Regex"

