# App
github "Instagram/IGListKit" ~> 2.0.0
github "SwiftyBeaver/SwiftyBeaver"
github "SwiftyJSON/SwiftyJSON"
github "onevcat/Kingfisher"
github "lkzhao/Hero"
github "marketplacer/Cosmos" ~> 8.0
github "ykyouhei/then" ~> 2.0
github "SVProgressHUD/SVProgressHUD"
github "radex/SwiftyUserDefaults"
github "totocaster/Typist"

# Batch
github "tid-kijyun/Kanna"    ~> 2.1.0
github "crossroadlabs/Regex" ~> 1.0.0

